<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.PeopleSys.mapper.UsersMapper">
    
    <resultMap type="Users" id="UsersResult">
        <result property="uid"    column="uid"    />
        <result property="username"    column="username"    />
        <result property="upassword"    column="upassword"    />
        <result property="telephone"    column="telephone"    />
        <result property="registrationtime"    column="registrationtime"    />
    </resultMap>

    <sql id="selectUsersVo">
        select uid, username, upassword, telephone, registrationtime from users
    </sql>

    <select id="selectUsersList" parameterType="Users" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
        </where>
    </select>
    
    <select id="selectUsersByUid" parameterType="Integer" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        where uid = #{uid}
    </select>
        
    <insert id="insertUsers" parameterType="Users" useGeneratedKeys="true" keyProperty="uid">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="upassword != null and upassword != ''">upassword,</if>
            <if test="telephone != null">telephone,</if>
            <if test="registrationtime != null">registrationtime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="upassword != null and upassword != ''">#{upassword},</if>
            <if test="telephone != null">#{telephone},</if>
            <if test="registrationtime != null">#{registrationtime},</if>
         </trim>
    </insert>

    <update id="updateUsers" parameterType="Users">
        update users
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="upassword != null and upassword != ''">upassword = #{upassword},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="registrationtime != null">registrationtime = #{registrationtime},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteUsersByUid" parameterType="Integer">
        delete from users where uid = #{uid}
    </delete>

    <delete id="deleteUsersByUids" parameterType="String">
        delete from users where uid in 
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>
</mapper>